@import "../../utils/scss/vars";
@import "../../utils/scss/mixins";

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

header {
  @include layoutPadding;
  background: $lightBlack;
  height: 100vh;
  width: 28rem;
}

main {
  @include layoutPadding;
  overflow-y: scroll;
  flex-grow: 1;
}
