@import "../../utils/scss/mixins";

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullBleed {
  background: $trueBlack url("../../images/sacred-bg.jpg") center center repeat;
  background-size: $viewport-sm-width + 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $mediumSpace;
  height: 100px;

  @include mqViewportSm {
    height: 130px;
    background-size: $viewport-md-width + 125px;
  }

  @include mqViewportMd {
    height: 160px;
    background-size: $maxPageWidth + 250px;
  }
}

.pageLogo {
  height: 40%;
  fill: $white;
}

.section {
  @include sectionPadding;
  width: 100%;
  max-width: $maxPageWidth;
  text-align: center;

  @include mqViewportSm {
    text-align: left;
  }
}