@import "../../utils/scss/mixins";

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullBleed {
  background: $trueBlack url("../../images/sacred-bg.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $mediumSpace;
  height: 100px;

  @include mqViewportSm {
    height: 130px;
  }

  @include mqViewportMd {
    height: 160px;
  }
}

.pageLogo {
  width: 180px;
  fill: $grey;
}

.section {
  @include sectionPadding;
  width: 100%;
  max-width: $maxPageWidth;
  text-align: center;

  @include mqViewportSm {
    text-align: left;
  }
}