@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  overflow-y: scroll;
}

body {
  word-wrap: break-word;
  background: $black;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

img {
  @include defaultMargin;
  @include defaultPadding;
  max-width: 100%;
  border-style: none;
}

hgroup,
dl,
dd,
p,
figure,
fieldset,
blockquote,
form,
noscript,
iframe,
address {
  @include defaultMargin;
  @include defaultPadding;
}

pre {
  @include defaultMargin;
  font-size: 0.85rem;
  line-height: 1.42;
  background: $lightBlack;
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  @include defaultMargin;
  @include defaultPadding;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

ul,
ol {
  @include defaultMargin;
  @include defaultPadding;
  list-style: none;
}

li {
  margin-bottom: $remRoot;
}

ol li,
ul li {
  padding-left: 0;
}

li > ol,
li > ul {
  margin-left: $remRoot * 2;
  margin-bottom: $remRoot;
  margin-top: $remRoot;
}

blockquote *:last-child,
li *:last-child,
p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: $remRoot;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: $lightBlack;
  font-feature-settings: "tnum";
  padding: $remRoot;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
