@import "vars";

// Block Level Mixins
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin defaultMargin {
  margin: 0 0 $remRoot * 2 0;
}

@mixin defaultPadding {
  padding: 0;
}

@mixin layoutPadding {
  padding: $largeSpace $mediumSpace;
}

@mixin headerPadding {
  padding: $mediumSpace;
}

@mixin sectionPadding {
    padding: $smallSpace $mediumSpace $largeSpace $mediumSpace;
}

// Color Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin mqViewportSm {
  @media only screen and (min-width: $viewport-sm-width) {
    @content;
  }
}

@mixin mqViewportMd {
  @media only screen and (min-width: $viewport-md-width) {
    @content;
  }
}

// Animation Mixins
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$defaultDuration: 0.25s; // default transition
@mixin simpleTransition($property: all, $duration: $defaultDuration) {
  transition: $property $duration ease-in-out;
  animation-fill-mode: both;
}

// Type Mixins
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin rootFontSize {
  font-size: $remRoot * 2.25;
  line-height: $remRoot * 3.25;
}

@mixin smallFontSize {
  font-size: $remRoot * 2;
  line-height: $remRoot * 3;
}

@mixin bodyFont {
  font-family: "Ubuntu-Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin headerFont {
  font-family: "Ubuntu-Bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin editorColors {
  &.green {
    color: $green;
  }

  &.magenta {
    color: $magenta;
  }

  &.red {
    color: $red;
  }

  &.blue {
    color: $blue;
  }
}

@mixin htmlStyle {
  @include editorColors;

  &:before {
    content: '<';
    color: $trueWhite;
  }

  &:after {
    content: ' />';
    color: $trueWhite;
  }
}

