@mixin bodyFont($weight: undefined) {
  font-family: "Open Sans", arial, sans-serif;

  @if $weight == bold {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}

@mixin headerFont($weight: undefined) {
  font-family: "Avenir Next", "Roboto", Helvetica, Arial, sans-serif;

  @if $weight == bold {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}
