@import "vars";
@import "mixins";

html {
  @include bodyFont;
  font-size: $remBase;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include bodyFont;
  @include rootFontSize;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headerFont;
  @include defaultMargin;
  @include defaultPadding;
  color: $trueWhite;

  &.lightenText,
  .lightenText {
    color: $white;
  }
}

h1 {
  @include htmlStyle;
  font-size: $remRoot * 3.6;
  text-transform: lowercase;

  @include mqViewportSm {
    font-size: $remRoot * 4;
  }
}

h2 {
  font-size: $remRoot * 3.2;

  @include mqViewportSm {
    font-size: $remRoot * 3.6;
  }
}

h3 {
  font-size: $remRoot * 2.8;

  @include mqViewportSm {
    font-size: $remRoot * 3.2;
  }
}

h4 {
  font-size: $remRoot * 2.6;

  @include mqViewportSm {
    font-size: $remRoot * 2.8;
  }
}

h5 {
  font-size: $remRoot * 2.25;

  @include mqViewportSm {
    font-size: $remRoot * 2.6;
  }
}

h6 {
  font-size: $remRoot * 2.25;
}

p {
  @include bodyFont;
  @include rootFontSize;
  @include defaultMargin;
  @include defaultPadding;
  color: $white;

  &.small {
    @include smallFontSize;
  }
}

nav li {
    @include htmlStyle;
}

a {
  color: $blue;
  text-decoration: none;
}
