@import "vars";
@import "mixins";

$remBase: 62.5%;

@mixin rootFontSize {
  font-size: $remRoot * 2.25;
  line-height: $remRoot * 3.25;
  letter-spacing: 0.1rem;
}

@mixin bodyFont {
  font-family: "Ubuntu-Light", Helvetica, Arial, sans-serif;
}

@mixin headerFont {
  font-family: "Ubuntu-Regular", Helvetica, Arial, sans-serif;
}

@mixin htmlStyle {
  &:before {
    content: '<';
    color: $trueWhite;
  }

  &:after {
    content: '/>';
    color: $trueWhite;
  }
}

html {
  @include bodyFont;
  font-size: $remBase;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include bodyFont;
  @include rootFontSize;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headerFont;
  @include defaultMargin;
  @include defaultPadding;
  color: $white;
}

h1 {
  font-size: $remRoot * 3.6;

  @include mqViewportSm {
    font-size: $remRoot * 4;
  }
}

h2 {
  @include htmlStyle;
  font-size: $remRoot * 3.2;

  @include mqViewportSm {
    font-size: $remRoot * 3.6;
  }
}

h3 {
  font-size: $remRoot * 2.8;

  @include mqViewportSm {
    font-size: $remRoot * 3.2;
  }
}

h4 {
  font-size: $remRoot * 2.6;

  @include mqViewportSm {
    font-size: $remRoot * 2.8;
  }
}

h5 {
  font-size: $remRoot * 2.25;

  @include mqViewportSm {
    font-size: $remRoot * 2.6;
  }
}

h6 {
  font-size: $remRoot * 2.25;
}

p {
  @include bodyFont;
  @include rootFontSize;
  @include defaultMargin;
  @include defaultPadding;
  color: $white;
}

nav {
  ul {
    list-style-type: none;
    text-align: center;

    li {
      @include htmlStyle;
      @include headerFont;
      font-size: $remRoot * 2.4;
      line-height: $remRoot * 4;
      letter-spacing: 0.2rem;
      color: #97c472;

      &:nth-child(even) {
        color: #c874e0;
      }
    }
  }
}
