// Color Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$trueWhite: #ffffff;
$white: #cccccc;
$grey: #848484;
$lightBlack: #252525;
$black: #1a1a1a;
$trueBlack: #000000;
$green: #97c472;
$magenta: #c874e0;
$red: #e36b73;
$blue: #5dadf2;
$orange: #e47b3c;

// Block Level Sizing + Spacing + Padding
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$remBase: 62.5%;
$remRoot: 0.8rem;
$pxRoot: 8px;
$smallSpace: $remRoot * 2;
$mediumSpace: $remRoot * 6;
$largeSpace: $remRoot * 12;
$navWidth: $remRoot * 36;
$maxPageWidth: 1000px;

// z-indices
$layer1: 100;
$layer2: 200;
$layer3: 300;

// Screen-size + media queries
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$viewport-sm-width: 680px;
$viewport-md-width: 800px;
