// Color Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$trueWhite: #ffffff;
$white: #cccccc;
$lightBlack: #252525;
$black: #1a1a1a;
$trueBlack: #000000;

// Block Level Sizing + Spacing + Padding
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$remRoot: 0.8rem;
$pxRoot: 8px;
// z-indices
$layer1: 100;
$layer2: 200;
$layer3: 300;

// Screen-size + media queries
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$viewport-sm-width: 568px;
$viewport-md-width: 768px;
$viewport-lg-width: 1024px;
