@import "../../utils/scss/mixins";

.header {
  @include headerPadding;
  @include simpleTransition();
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  background: $lightBlack;
  z-index: $layer2;
  height: 100vh;
  width: $navWidth;

  &[data-open="true"] {
    transform: translateX(0);
  }

  &[data-open="false"] {
    transform: translateX($navWidth);
  }
}

.hidden {
  display: none;
}

.finePrint {
  position: absolute;
  bottom: 0;
  align-self: center;
  text-align: center;
}

.hamburgerMenuIcon {
  @include simpleTransition();
  width: $mediumSpace;
  fill: $white;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $layer3;
  padding: $remRoot * 1.4;
  transform: rotate(0);

  &[data-rotate="true"] {
    transform: rotate(180deg);
  }
}

@media (hover: hover) {
  .hamburgerMenuIcon {
    &:hover {
      transform: rotate(8deg);
    }

    &[data-rotate="true"] {
      &:hover {
        transform: rotate(188deg);
      }
    }
  }
}
