@import "../../utils/scss/mixins";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .hidden {
    display: none;
  }

  .logo {
    @include defaultMargin;
    width: 100%;
    fill: $trueWhite;
  }
}
